<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
          http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>My Webapp</display-name>

    <servlet>
        <servlet-name>AccountsByProfileIdController</servlet-name>
        <servlet-class>main.java.controllers.AccountsByProfileIdController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AccountsByProfileIdController</servlet-name>
        <url-pattern>/accounts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileByIdController</servlet-name>
        <servlet-class>main.java.controllers.ProfileByIdController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfileByIdController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionsByAccountIdController</servlet-name>
        <servlet-class>main.java.controllers.TransactionsByAccountIdController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TransactionsByAccountIdController</servlet-name>
        <url-pattern>/transactions</url-pattern>
    </servlet-mapping>

</web-app>
